<%# Rendering Navbar %>
<%= render "shared/navbar"%>


<%# Basic Hero/Jumbo/Header %>
<div class="container">
  <div class="row">
    <div class="jumbotron mt-3 ">
      <h2>Your Bookings</h2>
      <p>Such a lovely <em>ARRAY</em> of Plants</p>
    </div>
  </div>
</div>

<%# Card Group Layout %>
<div class="container">
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 g-4">



  <%# Card Layout %>
  <% @bookings.each do |booking| %>

  <%= link_to booking_path(booking) do %>
    <div class="col">
      <div class="card home-card-img mb-4">
        <%= cl_image_tag booking.plant.photos.first.key, class: "card-img-top"%>
        <div class="card-body">
          <h5 class="card-title"><%= booking.plant.species %></h5>
          <p class="card-text"><%= booking.plant.description %></p>
        </div>
        <div class="card-footer">
          <small class="text-white">Price: £<%= booking.plant.price %></small>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>

  </div>
</div>


<%# Rendering Navbar %>
<%= render "shared/footer" %>

          <%# <small class="text-muted"><i class="fa-solid fa-sterling-sign fa-sm" style="color: #3a5139;">£</i><%= @booking.plant.price %></small> %>
