


<%# <h1>Book Now</h1> %>
<%# <%= simple_form_for @plant do |f| %>
  <%# <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
  <%# <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
  <%# <%= f.submit "Book Now", class: "btn btn-flat btn btn-dark text-white" %>
<%# <% end %>


  <%# <%= f.input :species, label: false, placeholder: 'Name' %>
  <%# <%= f.input :description, label: false, placeholder: "Describe" %>
  <%# <%= f.input :price, label: false, placeholder: 'Price' %>
