<%# Rendering Navbar %>
<%= render "shared/navbarhome" %>

<%# Basic Hero/Jumbo/Header %>
<div class="headcontainer pb-4">
  <img class="img-fluid mx-auto" id="myPlant" src="https://res.cloudinary.com/dgg6flpyq/image/upload/v1685547606/development/leov7jufekh6pmtnapqqs091sq5d.jpg" alt="Botanical Bazaar BG">
  <div class="centered text-center px-5 py-4 d-flex">
    <p>Dive into the world of urban gardening</p>
    <p>Experience the joy of plant parenthood</p>
    <p>Embrace the eco-friendly lifestyle</p>
    <%= form_with url: plants_path, method: :get, class: "form-flex pt-4 align-center mx-auto" do |form| %>
      <%= form.text_field :query, value: params[:query], class: "form-control me-2", placeholder: "Find a plant..." %>
      <%= form.submit "Search", class: "button mt-2" %>
    <% end %>
  </div>
</div>



<%# Main Card %>
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 rails-lg-3 row-cols-xl-4 g-4">
    <% @plants.each do |plant| %>
      <%= link_to plant_path(plant) do %>
        <div class="col p-0">
          <div class="card home-card-img mb-4">
            <span><img class="card-img-top" alt="..." src="<%= cl_image_path plant.photos.first.key%>"></span>
            <div class="card-body">
              <h5 class="card-title"><%= plant.species  %></h5>
              <p class="card-text"><%= plant.description %></p>
            </div>
            <div class="card-footer">
              <small class="text-muted"></small><i class="fas fa-star star-yellow"></i>
              <small class="text-muted"></small><i class="fas fa-quote-left me-2"></i>
              <small class="text-muted">£</i><%= plant.price %></small>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%# Rendering Navbar %>
<%= render "shared/footer" %>
