<%# Rendering Navbar %>
<%= render "shared/navbar" %>


<%# Basic Hero/Jumbo/Header %>
<div class="container">
  <div class="row">
    <div class="jumbotron mt-2 p-4">
      <h2>Find Your Ideal Plant</h2>
      <p>Plenty of plants to suit your needs</p>
    </div>
  </div>
</div>

<%# Card Group Layout %>
<div class="container">
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 g-4">



  <%# Card Layout %>
    <% @plants.each do |plant| %>
      <%= link_to plant_path(plant) do %>
          <div class="col">
            <div class="card home-card-img h-100">
              <%= cl_image_tag plant.photos.first.key, class: "card-img-top"%>
              <div class="card-body">
                <h5 class="card-title"><%= plant.species %></h5>
                <p class="card-text"><%= plant.description %></p>
              </div>
              <div class="card-footer">
                <small class="text-muted">5* Reviews</small>
                <small class="text-muted">Price: £<%= plant.price %></small>
              </div>
            </div>
          </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<%# Rendering Navbar %>
<%= render "shared/footer" %>
