<%# Rendering Navbar %>
<%= render "shared/navbar" %>


<%# Basic Hero/Jumbo/Header %>
<div class="container">
  <div class="row">
    <div class="jumbotron mt-2 p-4">
      <h2>My Listings</h2>
    </div>
  </div>
</div>

<%# Card Group Layout %>
<div class="container">
  <div class="row row-cols-2 row-cols-md-3 mb-4 row-cols-lg-4 g-4">


  <%# Card Layout %>
<% @my_plants.each do |plant| %>
  <%= link_to plant_path(plant) do %>
    <div class="col">
      <div class="card h-100">
        <span><%= cl_image_tag plant.photos.first.key, class: "card-img-top"%></span>
        <div class="card-body">
          <h5 class="card-title"><%= plant.species %>
          <p class="card-text"><%= plant.description %></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">5* Reviews</small>
          <small class="text-muted">Price: £<%= plant.price %></small>
          <small class="text-right flex-shrink-0"><%= link_to "delete", plant_path(plant), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{plant.species} from your listings?"}, class: 'text-danger'%></small></h5>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
</div>

<%# Add new listing button, taking you to new listing/new plant page%>
<div class="container">
  <div class="row">
      <div class="jumbotron mt-2 p-4">
        <%= link_to "Add a new listing", new_plant_path, class: "btn btn-flat btn btn-dark text-white" %>
      </div>
    </div>
    </div>
</div>

<%# Rendering Navbar %>
<%= render "shared/footer" %>
