<%# Rendering Navbar %>
<%= render "shared/navbar" %>

<%# Basic Hero/Jumbo/Header %>
<div class="container">
  <div class="row">
    <div class="jumbotron mt-2">
      <h2><%= @plant.species %></h2>
      <p><%= @plant.description %></p>
    </div>
  </div>
</div>

<%# Render Main Card %>
<%= render "shared/maincardshow" %>

<div class="container mt-4 mr-3">
  <div class="row">

    <%# Info Card %>
    <div class="col-sm-12 col-md-6 col-lg-6 info-card px-3">
      <div class="card my-1 align-middle p-2 my-3">
        <div class="card-body">
          <div>
            <i class="fa-solid fa-user float-end mr-2 p-2 bg-secondary rounded-circle"></i>
          </div>
          <div>
            <h5 class="card-title">Species Name: <%= @plant.species %></h5>
            <p class="card-text pr-5">Owned by: User-Name </p>
          </div>
        </div>
      </div>
      <div class="card my-1 align-middle p-2 my-3">
        <div class="card-body">
          <h5 class="card-title">Plant Description</h5>
          <p class="card-text"><%= @plant.description %></p>
        </div>
      </div>
      <div class="card my-1 align-middle p-2 my-3">
        <div class="card-body">
          <h5 class="card-title">Extra Information</h5>
          <p class="card-text">This plant needs a lot of care, don't forget to walk it daily</p>
        </div>
      </div>
    </div>

      <%# Spacer for mid section %>
      <div class="col-sm-0 col-md-2 col-lg-2 d-flex">
      </div>

      <%# Payment Card %>
      <div class="col-sm-12 col-md-4 col-lg-4 d-flex p-2 payment-card">
        <div class="card text-center">
          <div class="card-header">
            <h3>Price per day</h3>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= @plant.species %></h5>
            <p class="card-text">£<%= @plant.price %></p>
          </div>
        </div>
        <div class="card text-center">
          <div class="card-header">
            <h3>Total Price</h3>
          </div>
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>  <%# Add days %>

            <div data-controller="toggle" class="mt-5">
              <div data-toggle-target="togglableElement" class="d-none">
                <%= render "shared/form", booking: @booking, class: "d-none" %>
              </div>
            <button data-action="click->toggle#fire" data-toggle-target="togglableElement" class="btn btn-primary">Confirm</button>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%# Rendering Navbar %>
<%= render "shared/footer" %>
