<%# Rendering Navbar %>
<%= render "shared/navbar" %>

<%# Basic Hero/Jumbo/Header %>
<div class="container">
  <div class="row">
    <div class="jumbotron mt-3">
      <h2><%= @plant.species %></h2>9
      <p><%= @plant.description %></p>
    </div>
  </div>
</div>

<%# Render Main Card %>
<%= render "shared/maincardshow" %>

<div class="container mt-4 mr-3">
  <div class="row">

    <%# Info Card %>
    <div class="col-sm-12 col-md-6 col-lg-6 info-card px-3">
      <div class="card my-1 align-middle my-3">
        <div class="card-body">
          <div class="card text-center">
            <div class="card-header">
            <div class=" d-inline-flex">
              <h3 class="mr-3">Plant Owner</h3>
              <i class="fa-solid fa-user float-end mr-2 p-2 p bg-secondary rounded-circle"></i>
            </div>
          </div>
            <p class="card-text pr-5 py-2"><%= @plant.user.email %> </p>
          </div>
        </div>
      </div>

      <div class="card my-1 align-middle my-3">
        <div class="card-body">
          <div class="card text-center">
            <div class="card-header">
            <div class=" d-inline-flex">
              <h3 class="mr-3">Plant Description</h3>
            </div>
          </div>
            <p class="card-text center-text py-2 mx-4"><%= @plant.description%> </p>
          </div>
        </div>
      </div>

      <div class="card my-1 align-middle my-3">
        <div class="card-body">
          <div class="card text-center">
            <div class="card-header">
            <div class=" d-inline-flex">
              <h3 class="mr-3">Extra Information</h3>
            </div>
          </div>
            <p class="card-text text-center py-2 mx-4">This plant needs a lot of care, don't forget to walk it daily </p>
          </div>
        </div>
      </div>
    </div>







      <%# Spacer for mid section %>
      <div class="col-sm-0 col-md-2 col-lg-2 d-flex">
      </div>

      <%# Payment Card %>
      <div class="col-sm-12 col-md-4 col-lg-4 d-flex p-2 payment-card">
        <div class="card text-center">
          <div class="card-header">
            <h3>Plant Species</h3>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= @plant.species %></h5>
          </div>
        </div>
        <div class="card text-center">
          <div class="card-header">
            <h3>Price Per Day</h3>
          </div>
          <div class="card-body" >
            <h5 class="card-title">£<%= @plant.price %></h5>
            <p class="card-text"></p>  <%# Add days %>
            </div>
          </div>
          <div class="text-center" data-controller="toggle">
            <div data-controller="insert-in-list" data-insert-in-list-price-value='<%=@plant.price%>'>

              <div class="c-modal show d-none pb-2" data-insert-in-list-target="modal" data-toggle-target="togglableElement">
              <div class="modal-inner-text">
                <h5 class="card-title"><b><%= @plant.species %></b></h5>
                <h5>£<%= @plant.price %> per day</h5>
              </div>
                <%= cl_image_tag @plant.photos[0].key, class: "modal-img" %>
                  <div class="modal-inner-text">
                    <h5><div class="d-inline" data-insert-in-list-target='days'>0</div> days</h5>
                    <h5>£<div class="d-inline" data-insert-in-list-target='total'>0</div> total</h5>
                  </div>

                <%= render "bookings/form" %>
                </div>

                <div class="con-modal" data-insert-in-list-target="modal2">
                  <div class="button"><%= link_to "My Bookings", bookings_path %></div>
                </div>


              </div>
            <button data-action="click->toggle#fire" class="button mb-3">Book Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<%# Rendering Navbar %>
<%= render "shared/footer" %>
